.biz-cont {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	overflow: auto;
}

.biz-list-cont {
	padding: 24px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	height: 99%;
}

.biz-list-single {
	text-decoration: none;
	padding: 24px;
	display: flex;
	border: 1.4px solid #ebebeb;
	border-radius: 5px;
	gap: 32px;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.3s;
}

.biz-list-single:hover {
	box-shadow: 0 0 10px #0000001a;
}

.biz-info-cont {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 80%;
	height: 100%;
}
.biz-image {
	border-radius: 5px;
}
.biz-image img {
	/* width: 200px;
height: 200px; */
	aspect-ratio: 1 / 1;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.biz-message {
	display: flex;
	gap: 7px;
}
.biz-message div {
	color: rgba(110, 112, 114, 1);
	word-break: break-word;
}
.biz-message i {
	padding-top: 4px;
}

.biz-info-cont h3 span:hover {
	text-decoration: underline;
}

.biz-info-cont h3,
.biz-info-cont h3 span {
	font-size: 1.3rem;
	font-weight: 700;
}

.biz-message-more {
	color: rgba(2, 122, 151, 1);
	font-weight: 700;
}

.biz-message-more:hover {
	text-decoration: underline;
}

.biz-hour span {
	color: rgb(0, 128, 85);
	font-weight: 700;
}

.interpunct {
	font-weight: 700;
	font-size: 1.2rem;
	color: rgba(110, 112, 114, 1);
}

.biz-cuisine {
	color: rgba(110, 112, 114, 1);
}

.biz-cuisine-tag {
	margin-right: 2px;
	color: rgba(110, 112, 114, 1);
	background-color: rgba(240, 240, 240, 1);
	padding: 4px;
	font-weight: 700;
	font-size: 14px;
}

.biz-star-rating,
.all-biz-star-rating {
	width: 120px;
	height: auto;
}

.biz-rating-cont {
	display: flex;
	align-items: center;
	gap: 10px;
	color: rgba(110, 112, 114, 1);
}
.all-biz-map-cont {
	/* border: 2px solid black; */
	position: sticky;
	top: 0;
	height: 100%;
	width: 50%;
	box-shadow: 0 0 5px #0000001a;
}
.search-results-header{
	font-size: 1.3rem;
	font-weight: 700;
}
@media (min-width: 851px) {
	.biz-cont {
		min-width: 650px;
		width: 100%;
	}
	.biz-list-cont {
		width: 50%;
		min-width: 700px;
	}
	.biz-list-single {
		width: 780px;
		min-width: 650px;
		height: 225px;

	}
	.biz-image {
		width: 20%;
		min-width: 225px;
		max-width: 235px;
	}
}
@media (max-width: 850px) {
	.biz-cont {
		justify-content: baseline;
		align-items: center;
		min-width: none;
		width: 100%;
		padding-top: 100px;
		padding-bottom: 44px;
	}
	.biz-list-cont {
		padding: 0px;
		min-width: 100%;
		width: 100%;
		gap: 0px;
	}
	.biz-list-single-cont {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.biz-list-single {
		width: 100%;
		padding: 12px 12px;
		border-radius: 0px;
		border: none;
		border-top: 1.4px solid #ebebeb;
		gap: 10px;
	}
	.biz-image {
		width: 78px;
		display: flex;
		justify-content: flex-start;
		height: 100%;
		padding-top: 5px;
	}
	.biz-image img {
		height: 78px;
	}
	.biz-info-cont h3,
	.search-results-header,
	.biz-info-cont h3 span {
		font-size: 16px;
	}
	.search-results-header{
		padding: 5px;
	}
	.all-biz-star-rating{
		width: 82px;
		height: auto;
	}
	.biz-info-cont{
		gap:10px;

	}
	.biz-rating-cont,
	.biz-cuisine-tag,
	.biz-cuisine,
	.interpunct,
	.biz-hour,
	.biz-hour span,
	.biz-message div{
		font-size: 0.85rem;
	}
}
