.biz-cont{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    /* width: 80%; */
        /* border: 2px solid black; */
    min-width: 650px;

}

.biz-list-cont {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* border: 2px solid black; */
}

.biz-list-single{
    text-decoration: none;
    padding: 24px;
    display: flex;
    height: 225px;
    border: 1.4px solid #ebebeb;
    border-radius: 5px;
    gap: 32px;
    justify-content: center;
    align-items: center;
    max-width: 820px;
    transition: box-shadow .3s;
    min-width: 550px;
}

.biz-list-single:hover {
    box-shadow: 0 0 10px #0000001a;
}

.biz-info-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.biz-image{
    width: 20%;
    min-width: 220px;
    max-width: 225px;
    border-radius: 5px;

}
.biz-image img{
/* width: 200px;
height: 200px; */
aspect-ratio: 1 / 1;
width: 100%;
max-width: 225px;
border-radius: 5px;
}

.biz-message{
    display: flex;
    gap: 7px;
}
.biz-message div{
    color: rgba(110,112,114,1);
}
.biz-message i {
    padding-top: 4px;
}
.biz-info-cont{
    width: 80%;
    height: 100%;
}

.biz-info-cont h3 span:hover{
    text-decoration: underline;
}

.biz-info-cont h3,
.biz-info-cont h3 span {
    font-size: 1.3rem;
    font-weight: 700;
}

.biz-message-more{
    color: rgba(2,122,151,1);
    font-weight: 700;
}

.biz-message-more:hover{
    text-decoration: underline;
}

.biz-hour span {
    color: rgb(0, 128, 85);
    font-weight: 700;
}

.interpunct{
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(110,112,114,1);

}

.biz-cuisine{
    color: rgba(110,112,114,1);
}

.biz-cuisine-tag{
    margin-right: 2px;
    color: rgba(110,112,114,1);
    background-color: rgba(240,240,240,1);
    padding: 4px;
    font-weight: 700;
    font-size: 14px;
}

.biz-star-rating{
    width: 120px;
    height: auto;
}

.biz-rating-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(110,112,114,1)
}
