.form-description{
    width: 100%;
    border-radius: 5px;
    border: 1.6px solid rgb(201, 200, 200);
    color: black;
    font-size: 1rem;
    box-sizing:border-box;
    padding: 5px 9px;
    margin-bottom: 5px;
    height: 90px;
}

.form-description:focus{
    outline: none !important;
    border:1px solid #0073bb;
    box-shadow: 0 0 2px #0073bb;
}

.form-cuisine-price{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 35px;
    border: 1.6px solid rgb(201, 200, 200);
}

.form-hours{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.form-hours select{
    margin-right: 5px;
}

.form-image{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.form-image button{
    background-color: transparent;
    border: 1.6px solid rgb(201, 200, 200);
    color: rgba(224,7,7,1);
}
.form-image button:hover{
    background-color: rgb(201, 200, 200,0.3);
}
.form-image div{
}
@media (max-width: 850px){
    .new-biz-form-cont{
        overflow-y: scroll;
        z-index: 0;
        padding-bottom: 64px;
        padding-top: 120px;
    }
    .form-description{
        height: 50px;
        font-size: 0.8rem;

    }
}
