.form-description{
    width: 100%;

    border-radius: 5px;
    border: 1.6px solid rgb(201, 200, 200);
    color: black;
    font-size: 1rem;
    box-sizing:border-box;
    padding: 5px 9px;
    margin-bottom: 5px;
    height: 90px;
}

.form-description:focus{
    outline: none !important;
    border:1px solid #0073bb;
    box-shadow: 0 0 2px #0073bb;
}

.form-cuisine-price{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 35px;
    border: 1.6px solid rgb(201, 200, 200);
}

.form-hours{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.form-hours select{
    margin-right: 5px;
}
