.navbar-profile-pic {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.navbar-logo {
	width: 100px;
}

.nav-bar-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 40px 0px 40px;
}

.nav-bar-right {
	display: flex;
	gap: 15px;
	align-items: center;
}

.nav-bar-right .nav-bar-restaurants {
	cursor: pointer;
	font-size: 1.1rem;
	font-family: "Open Sans";
	font-weight: 600;
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
}

.nav-bar-right .nav-bar-restaurants:hover {
	background-color: rgba(201, 200, 200, 0.228);
}

.drop-down{
    position: relative;

}

.drop-down-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0px;
    border: 1px grey solid;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 18px rgb(0 0 0 / 15%);
    padding: 6px;
    width: 175px;
    border-color: #ebebeb;

}

.drop-down-divs {
    display: flex;
    gap: 20px;
    padding: 16px;
    cursor: pointer;
}

.drop-down-divs:hover {
	background-color: rgba(201, 200, 200, 0.228);
}


.navbar-profile-pic-btn {
    border: none;
    background: none;
    text-decoration: none;
}

.nav-bar-login-btn,
.nav-bar-signup-btn{
    cursor: pointer;
	font-size: 1.1rem;
	font-family: "Open Sans";
	font-weight: 600;
	padding: 8px 16px;
	border-radius: 5px;
	text-decoration: none;
    transition: all .4s ease-in;
}

.nav-bar-login-btn {
    border: 1.6px solid rgb(201, 200, 200);
}
.nav-bar-login-btn:hover {
    background-color: rgb(201, 200, 200);
}

.nav-bar-signup-btn {
    background-color: rgba(224,7,7,1);
    color: white;
    border:none
}
.nav-bar-signup-btn:hover {
    color: rgba(224,7,7,1);
    background-color: white;
    border:none
}
