.edit-review-cont {
	flex: 1;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.edit-review-form {
	width: 60vw;
	height: 40vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
