.all-reviews-cont {
	width: 100%;
	/* background-color: azure; */
	max-height: 600px;
	overflow: hidden;
	overflow-y: scroll;
	padding-bottom: 30px;
    margin-top: 24px;
}
.all-reviews-list-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.each-review-cont {
	display: flex;
	flex-direction: column;
    gap: 15px;
    border: 1.4px solid #ebebeb;
    padding: 24px;
    box-shadow: 0 0 5px #0000001a;
    border-radius: 5px;
}

.each-review-top {
	display: flex;
	align-items: flex-start;
	gap: 15px;
}

.each-review-top img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.each-review-top-username {
	font-size: 1.2rem;
	font-weight: 600;
	color: black;
}

.each-review-btn button,
.each-review-btn a {
	background-color: rgba(224, 7, 7, 1);
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	margin-right: 8px;
	border-radius: 5px;
	font-weight: 600;
	color: white;
	transition: all 0.8s;
	cursor: pointer;
	text-decoration: none;
	border: none;
}
.each-review-btn button:hover,
.each-review-btn a:hover {
	background-color: white;
	color: rgba(224, 7, 7, 1);
}

.each-review-rating {
	display: flex;
    gap: 10px;
    align-items: center;
}
.add-review-form-cont{
	width: 100%;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add-review-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	/* border: 2px solid pink; */
	align-items: center;
}
.add-review-textarea{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-review-textarea textarea{
	width: 100%;
	height: 100px;
	padding: 16px;
}

.add-review-textarea textarea:focus{
	outline: none !important;
	border:1px solid #0073bb;
	box-shadow: 0 0 2px #0073bb;
}

.add-review-errors{
    background: #fcd6d3;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: 600;
	margin-bottom: 10px;
	width: 50%;
}
.biz-review{
	display: flex;
	word-break: break-all;
}

@media (max-width: 850px) {
	.all-reviews-cont{
		max-height: 100%;
		padding: 0px;
		margin: 0px;
		margin-top: 12px;
		padding-bottom: 44px;
	}
	.each-review-top img {
		width: 40px;
		height: 40px;
	}

	.each-review-top-username {
		font-size: 1rem;
		font-weight: 600;
		color: black;
	}
	.biz-star-rating{
		width: 108px;
		height: 20px;
	}
	.each-review-rating{
		font-size: 0.9rem;
	}
	.biz-review{
		font-size: 0.85rem;
	}
	.add-review-textarea{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

}
